::ng-deep {
  .p-datatable-scrollable-header-box {
    padding: 0 !important;
  }

  .p-datatable table {
    font-size: 1rem;
  }
}

.table-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem 0;
}

